
@{
    ViewBag.Title = "FormEditGet";
    var Stu_Num = ViewBag.Stu_Num;
    var Stu_Name = ViewBag.Stu_Name;
    var Stu_Socre = ViewBag.Stu_Score;

}

<h2>FormEditGet</h2>
<hr />
@{ 
    <h3>@Stu_Num</h3>
    <h3>@Stu_Name</h3>
    <h3>@Stu_Socre</h3>
}

